.asset{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .asset-description{
    max-width: 70ch;
      margin: 0 auto;
      text-align: center;
    padding: 0 10px;
    color: #fff;

    #item-title{
      position: relative;
    }
    p{
      // width: 90%;
    }
  }

  @media screen and(max-width: 600px){
  .responsive-iframe{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

  .inplayer-paywall{
    text-align: center;
    // max-width: 500px;

    .inplayer-preview-box{
      padding: 0;
      background: none;
      border: none;
      font-family: var(--font1);

     

      .inplayer-itemdetails{
        color: #fff;
        bottom: 140px;

        .inplayer-title{
         h1, h2, h3, h4 {
          color: #fff;
          font-weight: 600;
          text-align: left;
          font-size: 2em;
          line-height: 1.2em;
         }
        }

        p{
        display: none;
        }
      } // itemdetails

      .inplayer-buybutton{
        text-align: center;

        .inplayer-button{
          letter-spacing: normal;
          width: initial;
          text-transform: initial;
          @extend .cta-btn;
        }
      }

      .inplayer-preview-footer{
        margin-top: 0;
        border: none;
      }
    } // inplayer preview box



    @media screen and (max-width:600px){
     .inplayer-preview-box{
.inplayer-itemdetails{
  .inplayer-title{
    h1, h2 ,h3, h4{
      text-align: center;
    }
  }
}
     }
   } // preview box
 } //inplayer paywall

} // asset

