#header {
	position: relative;
	background-image: url("../img/header.jpg");
	background-size: cover;
	background-position: center;
	height: 100%;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(#0a1044, 0.6);
		z-index: 2;
	}

	.header-content {
		height: 100%;
		min-height: 70vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 5;
		position: relative;
		.asset{
			padding: 0;
		}

		.text {
			font-family: var(--font1);
			text-align: left;
			width: 100%;
			max-width: 800px;
			@include transition;
			z-index: 5;

			h1 {
				font-weight: 800;
				margin: 0;
				margin-bottom: 0px;
				font-size: 2.5em;
				color: #fff;
			}
			p {
				margin-bottom: 30px;
				font-size: 20px;
				text-shadow: 0px 0px 18px #000;
				color: #fff;
				line-height: 1.5;
			}
		}

		.sponsors {
			justify-content: center;
			flex-wrap: wrap;
			align-content: center;
			p {
				font-weight: 500;
				align-self: center;
			}
			.logo-img {
				max-width: 170px;
				margin: 0 10px;
			}
		}
	}

	@media (max-width: 950px) {
		.header-content {
			.text {
				width: 80%;
				margin: 0 auto;
				justify-content: center;
				text-align: center;
			}

			.image {
				margin: 30px;

				img {
					max-width: 500px;
				}
			}
		}
	}

	@media (max-width: 880px) {
		.header-content {
			justify-content: center;

			.text {
				width: calc(100% - 50px);
				text-align: center;
				justify-self: center;
				padding: 30px 0;
			}
		}
	}


} // header

.homepage{
	@media screen and(min-width:951px){
		.sponsors{
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
@media (max-width: 520px) {
	#header{
		padding: 0px;
		padding-top: 60px;
		.header-content {
			padding: 0 20px;
			.text{
				h1{
					font-size:2em ;
				}
			}
			.sponsors{
				text-align: center;
				.logo-img{
					max-width: 110px;
				}
			}
		}
	}
}

#header.item-header{
	padding-top: 140px;
}